@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans Japanese', serif;
  font-size: 1.2rem;
  width: 640px;
  margin: 0 auto;
  padding: 0;
  background-color: #EEEEEE;
  border: solid 1px #ccc;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  color: #0000ff;
  text-decoration: none;
}

#orderWrap {
  display:flex;
  margin-bottom: 10px;
}
.orderInfo {  width: 70%; }
.totalScore {
  background-color: rgb(226, 226, 226);
  width: 30%;
  padding:10px;
}

.order, .score {
  display:flex;
  width:100%;
  padding: 0;
  margin: 0;
}
.order { height:160px; }
.score { height:50px; }
.order li, .score li {
  background-color: rgb(226, 226, 226);
  width: 20%;
  border: solid 1px #ccc;
  list-style: none;
  font-size: 160%;
  writing-mode: vertical-rl;
  position: relative;
}
.order li a {
  display:block;
  position: absolute;
  top: 50%;
  left: 50%;
  padding:5%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
}
ul .teamColor { width: 10px; }
ul .colorR { background-color: brown;}
ul .colorW { background-color: white;}

/*モーダルウィンドウ*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  }
  .modal-content{
  background-color: white;
  width: 500px;
  margin: 20px auto;
  padding: 10px 30px;
  position: relative;
  }
#closeBtn {
  cursor: pointer;
  display: block;
  padding: 10px;
  border: cadetblue solid 1px;
  background-color: white;
  border-radius: 6px;
  width: 60px;
  text-align: center;
  position: absolute;
  right: 5px;
  top: 5px;
}
#orderRegister{
  cursor: pointer;
  border-radius: 5px;
  background-color: chocolate;
}